<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i2.wp.com/www.christiesrealestate.com/blog/wp-content/uploads/2018/11/Bathtub_Gin_Cocktails_banner.jpg?resize=1600%2C550&ssl=1)">
  <%= @cocktail.name %>
</div>

<div class="new-form-container">
  <% @doses.each do |dose| %>
    <div class="dose-container">
      <p><%= dose.description %> --- <%= dose.ingredient.name %></p>
      <%= link_to 'Destroy', dose, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  <%= link_to new_cocktail_dose_path(@cocktail), {class: "btn btn-primary generic-button"} do %>
    <span class="label label-primary">Add a dose</span>
  <% end %>
  <br>
  <%= link_to cocktails_path, {class: "btn btn-primary generic-button"} do %>
    <span class="label label-primary">All cocktails</span>
  <% end %>
</div>
